<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
  <Appenders>
    <!-- Rolling File Appender -->
    <RollingFile name="RollingFile" fileName="logs/app.log"
      filePattern="logs/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level (%logger{36}:%L) [%t_%tid] - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- Logger for a specific package -->
    <!--Logger name="de.sql.chat" level="debug"/-->
    <Logger name="org.apache.log4j.xml" level="info"/>

    <!-- Root Logger -->
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>